[Unit]
Description=Notes Service Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop notes-service
ExecStartPre=-/usr/bin/docker rm notes-service
ExecStart=/usr/bin/docker run --name notes-service \
  -p 127.0.0.1:3000:8000 \
  --env-file /etc/notes-service.env \
  ${IMAGE}

[Install]
WantedBy=multi-user.target